@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BeaufortforLOL-Bold';
    src: url('fonts/BeaufortforLOL-Bold.ttf');
}

@font-face {
    font-family: 'Spiegel-Regular';
    src: url('fonts/Spiegel_TT_Regular.ttf');
}

:root {
    font-family: 'Spiegel-Regular';
    color: #a09b8c;
}

@layer base {
    h1 {
        font-family: 'BeaufortforLOL-Bold', serif;
        font-size: 4rem;
        color: #c89b3c;
    }

    h2 {
        font-family: 'BeaufortforLOL-Bold', serif;
        font-size: 3rem;
    }

    h3 {
        font-family: 'BeaufortforLOL-Bold', serif;
        font-size: 1.5rem;
    }

    h4 {
        font-family: 'BeaufortforLOL-Bold', serif;
        font-size: 1.25rem;
    }

    h5 {
        font-family: 'BeaufortforLOL-Bold', serif;
        font-size: 1rem;
    }

    body {
        background-color: #091428;
    }

    .header-buttons {
        font-family: 'BeaufortforLOL-Bold', serif;
        font-size: 1.5rem;
    }

    .number{
        font-family: 'BeaufortforLOL-Bold', serif;
        font-size: 1.25rem;
    }
}

:is(#profile, #tagline):focus {
    @apply rounded outline outline-1 outline-hexmagic-3
}
